
body {
	background-image: url("../images/background.jpg");
	background-color: #cccccc;
	font-family: 'eb garamond', serif;
	color: #E8E8E8;
}
@font-face {
  font-family: 'SnellRoundhand-Script';
  src: url('../fonts/fontsSnellRoundhand-Script.eot?#iefix') format('embedded-opentype'),  url('../fonts/SnellRoundhand-Script.woff') format('woff'), url('../fonts/SnellRoundhand-Script.ttf')  format('truetype'), url('../fonts/SnellRoundhand-Script.svg#SnellRoundhand-Script') format('svg');
  font-weight: normal;
  font-style: normal;
}

p {
	font-size: 20px;
	text-align: center;
}
.small-space > p {
	line-height: 0.5;
}
ul {
	list-style: none;
	display: block;
	text-align: center;
	list-style-position: outside;
}
h1 {
	font-family: 'SnellRoundhand-Script', cursive;
	text-align: center;
	color: #8DDCEE;
}
a {
	color: #E8E8E8;
}

.header {
	margin: 15px 0;
}

/*.hide-mobile {
	display: none;
}
*/
/*@screen-sm-min = 768*/
/*@screen-md-min = 992*/
@media screen and (max-width: 600) {
	.hide-mobile {
		display: none;
	}
}
