
@font-face {
  font-family: 'SnellRoundhand-Script';
  src: url('SnellRoundhand-Script.eot?#iefix') format('embedded-opentype'),  url('SnellRoundhand-Script.woff') format('woff'), url('SnellRoundhand-Script.ttf')  format('truetype'), url('SnellRoundhand-Script.svg#SnellRoundhand-Script') format('svg');
  font-weight: normal;
  font-style: normal;
}
